@import "/src/app/styles/utils/variables";
@import "/src/app/styles/utils/media";


.main {
  background-color: var(--bg);
  &__logo {
    path{
      fill: var(--logo);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: var(--wrapper);
    border-bottom: solid var(--underline) 1px;
    @include media-custom(630px){
     display: none;
    }
  }
  &__leftPart{
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__rightPart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 30px 0 30px;
  }
  &__searchbar {
    width: 322px;
    border-radius: 10px;
    font-family: $font;
    @include media-custom($mediaWidthTablet){
      width: 140px;
    }
    @include media-custom(800px){
      display: none;
    }
  }
  &__iconsItems {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  &__iconsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--Container);
  }
  &__icon {
    path{
      fill: var(--text);
    }
  }
  &__profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  &__profilePhoto{
    display: flex;
    width: 30px;
    height: 30px;
  }
  &__profileName {
    font-family: $font;
    color: var(--text);
    width: auto;
    @include media-custom($mediaWidthTablet){
    display: none;
    }
  }

  &__content {
    //padding: 0 0 48px 0;
    //height: 100vh;
    font-family: $font;
  }
  &__layout {
    //padding: 24px 0;
    height: 100%;
    background-color: var(--bg);
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: $font;
    background-color: var(--wrapper);
  }
  &__shopContent {
    font-family: $font;
    color: var(--text);
  }
}

:global {
  .ant-layout {
    height: 100% !important;
  }
  .ant-layout-header {
    padding: 0 30px 0 30px;
  }
  .ant-layout-sider {
    flex: 0 0 249px !important;
    max-width: unset !important;
  }
  .ant-menu {
    background-color: var(--wrapper);
    color: var(--text);
    font: 500 16px $font;
    //font-family: $font;
    //font-size: 16px;
    //font-weight: 500;

    line-height: 23.71px;
    width: 249px;
  }
  .ant-menu-horizontal {
    padding: 0 0 0 11vh !important;
    gap: 10px;
    @include media-custom(900px){
      padding: unset !important;
    }
  }
  .ant-menu-inline {
    padding-top: 5vh;
    border-right: solid var(--underline) 1px !important;
  }
  .ant-menu-title-content {
    color: var(--text);
    font: 400 16px $font;
  }
  .ant-menu-submenu-title {
    border-bottom: solid var(--underline) 1px;
    border-radius: 0 !important;
    font: 500 16px $font;
    .ant-menu-title-content{
      font: 500 16px $font !important;
    }
  }
  .ant-menu-submenu-arrow {
    color: var(--text)
    !important;
  }
  .ant-menu-item-selected {
    background-color: unset !important;
    text-decoration: underline;
    text-underline-offset: 26px;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--SelectColor);
    .ant-menu-title-content {
      color: var(--pathSelect) !important;
      font: 500 16px $font !important;

    }
  }
  .ant-layout-sider-children {
    height: 100vh !important;
  }
  .ant-layout-sider {
    height: 100vh !important;
    background: var(--wrapper) !important;
    position: sticky!important;
    top: 0 !important;
    overflow-y: scroll;
    overflow-x:hidden;
    @include media-custom(900px){
      display: none;
    }
  }::-webkit-scrollbar {
     display: none;
   }
}
