@import "/src/app/styles/utils/variables";
@import "/src/app/styles/utils/media";
.nft {
  &__Card {
    //width: 258px;
    width: auto;
    height: 331px;
    background-color: var(--nftCard);
    border-radius: 10px;
    @include media-custom(400px){
      height: 280px;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include media-custom(400px){
      gap: unset;
    }
  }

  &__PhotoContainer {
    height: 156px;
    @include media-custom(400px){
      height: 130px;
    }
  }

  &__Photo {
    width: 100%;
    height: 100%;
  }
  &__Text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 18px;
  }

  &__Title {
    font: 500 18px/1.1 $font;
    line-height: 26.68px;
    color: var(--limeBlack);
  }
  &__Author{
    font: 400 14px/1.1 $font;
    line-height: 20.75px;
    color: var(--grayBlue);
  }
  &__priceBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 18px 18px 18px;
    color: var(--limeBlack);
    font: 400 14px $font;
    line-height: 20.75px;
    border-top: solid var(--underline) 1px;
  }
  &__blurContainer {
    position: absolute;
    width: 77px;
    height: 29px;
    border: solid 1px var(--blur);
    border-radius: 28px;
    -moz-box-shadow:0 0 10px var(--blur);
    -webkit-box-shadow:0 0 10px var(--blur);
    box-shadow:0 0 20px var(--blur);
    filter: opacity(10%);
  }
  &__priceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 29px;
    border: solid 1px var(--limeBlack);
    border-radius: 28px;
    cursor: pointer;
  }
  &__CardL {
    height: 250px;
    //width: 1090px;
    width: 77vw;
    background-color: var(--nftCard);
    border-radius: 20px;
  }
  &__PhotoL {
    width: auto;
    height: auto;
    border-radius: 20px;
  }
  &__bodyL {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 250px;
  }
  &__titleL {
    font: 500 34px $font;
    color: var(--limeBlack);
  }
  &__AuthorL{
    font: 400 24px/1.1 $font;
    line-height: 20.75px;
    color: var(--grayBlue);
  }
  &__contentL {
    display: flex;
    flex-direction: row;
  }
  &__textL {
    display: flex;
    flex-direction: column ;
    padding: 10px;
  }
  &__priceBlockL {
    display: flex;
    padding: 15px 18px 18px 18px;
    color: var(--limeBlack);
    font: 400 14px $font;
    line-height: 20.75px;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
  }
  &__priceContentL {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__priceTypeL{
font-size: 24px;
  }
  &__priceContainerL {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 35px;
    border: solid 1px var(--limeBlack);
    border-radius: 28px;
    cursor: pointer;
  }
  &__blurContainerL {
    position: absolute;
    width: 112px;
    height: 35px;
    border: solid 1px var(--blur);
    border-radius: 28px;
    -moz-box-shadow:0 0 10px var(--blur);
    -webkit-box-shadow:0 0 10px var(--blur);
    box-shadow:0 0 20px var(--blur);
    filter: opacity(10%);
  }
  &__priceL {
    font-size: 24px;
  }
}