@import "/src/styles/utils/variables";
.nft {
  &__Card {
    width: 258px;
    height: 331px;
    background-color: $nftCard;
    border-radius: 5px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__PhotoContainer {
    height: 156px;
  }

  &__Photo {
    width: auto;
    height: 100%;
  }
  &__Text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 18px;
  }

  &__Title {
    font: 500 18px/1.1 $font;
    line-height: 26.68px;
    color: $lime;
  }
  &__Author{
    font: 400 14px/1.1 $font;
    line-height: 20.75px;
    color: $gray;
  }
  &__priceBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 18px 18px 18px;
    color: $lime;
    font: 400 14px $font;
    line-height: 20.75px;
    border-top: solid $underline 1px;
  }
  &__blurContainer {
    position: absolute;
    width: 77px;
    height: 29px;
    border: solid 1px $lime;
    border-radius: 28px;
    -moz-box-shadow:0 0 10px $lime;
    -webkit-box-shadow:0 0 10px $lime;
    box-shadow:0 0 20px $lime;
    filter: opacity(10%);
  }
  &__priceContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 29px;
    border: solid 1px $lime;
    border-radius: 28px;
    filter: unset !important;

  }
}