// fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
$font: "Oswald", sans-serif;

// colors
$black: #25272e;
$bg: #2b2c33;
$lime: #38f2af;
$white: #ffffff;
$gray: #828282;
$Container: #373943;
$underline: #383940;
$nftCard: #272a34;

// media
$mediaWidthTablet: 1259px;
$mediaWidthMob: 767px;
