@import "/src/styles/utils/variables";

.db {
  &__body {
    font-family: $font;
    color: $white;
    padding: 55px 30px 30px 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__headContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__headTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__createBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 33px;
    border-radius: 4px;
    background-color: $lime;
    color: black;
  }

  &__headBottom {
    display: flex;
    justify-content: space-between;
  }

  &__filters {
    display: flex;
    gap: 14px;
  }

  &__sort {
    display: flex;
  }

  &__title {
    font: 500 24px/1.1 $font;
    font-size: 24px;
    line-height: 35.57px;
    text-align: left;

  }

  &__titleContainer {
    display: flex;
    justify-content: space-between;

  }

  &__nftContainer {
    display: flex;
    width: 1142px;
    height: 726px;
    border-radius: 10px;
    background-color: $Container;
  }

  &__nfts {
    display: flex;
    flex-direction: row;
    gap: 2vh;
    padding: 2vh 2vh 2vh 2vh;
  }
}
:global {
  .ant-select-selector {
    background-color: $Container !important;
    border: none !important;
    color: $lime !important;
    box-shadow: unset !important;
  }
  .ant-select-selection-item {
    font-family: $font;
  }
  .ant-select-dropdown {
    width: 110px !important;

  }
}