@import "/src/app/styles/utils/variables";
@import "/src/app/styles/utils/media";

.db {
    &__Btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 125px;
      height: 33px;
      border-radius: 4px;
      background-color: var(--pathSelect);
      color: black;
      font: $font !important;
    }
    &__btnText {
      font: 500 14px $font;
      line-height: 20.75px;
      color: var(--wrapper);
    }
  &__body {
    font-family: $font;
    color: var(--white);
    padding: 30px 30px 30px 20px;
    @include media-custom(630px){
      padding: 30px 30px 30px 20px;
    }
    @include media-custom(400px){
      padding: 30px 30px 30px 30px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 125px);
    gap: 20px;
  }

  &__headContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__headTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-custom(400px){
      flex-direction: column;
      gap: 10px;
    }
  }


  &__headBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-custom(570px){
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }

  &__filters {
    display: flex;
    gap: 14px;
  }
&__sortContainer {
  @include media-custom(800px){
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;
  }
  @include media-custom(400px){
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
  &__searchMobile {
    display: none;
    @include media-custom(800px){
      display: unset;
      width: 200px;
    }
    @include media-custom(630px){
      display: unset;
      width: 150px;
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 87px;
    height: 37px;
    background-color: var(--Container);
    cursor: pointer;
  }
  &__gridSort {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 37px;
    border-radius: 10px 0  0 10px;
    background-color: unset;
  }
  &__gridSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 37px;
    border-radius: 10px 0  0 10px;
    background-color: var(--sortSwitch);
  }
  &__listSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 37px;
    border-radius: 0 10px  10px 0;
    background-color: var(--sortSwitch);
  }
  &__gridIcon {
    path{
      fill: var(--text);
    }
  }
  &__gridIselected {
    path{
      fill: var(--SelectColor);
    }
  }
  &__listIcon {
    path{
      fill: var(--text);
    }
  }
  &__listIselected {
    path{
      fill: var(--SelectColor);
    }
  }
  &__listSort {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
  }

  &__title {
    font: 500 24px/1.1 $font;
    font-size: 24px;
    line-height: 35.57px;
    color: var(--text);

  }

  &__titleContainer {
    display: flex;
    justify-content: space-between;

  }
  &__store {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
    width: 80vw;
    @include media-custom(1450px){
      //display: unset; //ne uveren
      width: unset;
    }
  }

  &__nftContainer {
    display: flex;
    justify-content: center;
    //width: 1142px;
    //width:auto ;
    width: 100%;
    max-width: 1142px;
    height: auto;
    border-radius: 10px;
    background-color: var(--Container);
  }
  &__nftContainerList {
    display: flex;
    justify-content: center;
    //width: 1142px;
    width:auto ;
    height: auto;
    border-radius: 10px;
    background-color: var(--Container);
  }

  &__pagContainer {
    flex-shrink: 0;
  }

  &__nfts {
    //display: flex;
    //flex-direction: row;
    //justify-content: center;
    //flex-wrap: wrap;
    //gap: 23px;
    //padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    padding: 16px 40px;
    @include media-custom(1679px){
      display: grid;
      grid-template-columns: repeat(4, 250px);
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 23px;
    }
    @include media-custom(1410px){
      grid-template-columns: repeat(3, 250px);
    }
    @include media-custom(1148px){
      grid-template-columns: repeat(2, 250px);
    }
    @include media-custom(900px){
      grid-template-columns: repeat(3, 250px);
    }
    @include media-custom(888px){
      grid-template-columns: repeat(2, 250px);
    }
    @include media-custom(608px){
      grid-template-columns: repeat(1, 250px);
    }
    @include media-custom(400px){
      grid-template-columns: repeat(1, 215px);
    }

  }
  &__nftsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    padding: 16px;
  }
  &__input {
    padding-left: 17px;
    border: none !important;
    background-color: var(--Container);
  }
  &__arrow {
    path {
      stroke: var(--limeBlack);
    }
  }
  &__filtersButton {
    display: none;
    @include media-custom(900px){
      display: unset;
    }
    @include media-custom(630px){
      display: none;
    }
  }
  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__paginationFilter {
    display: flex;
    gap: 5px;
  }
  &__totalItems {
    color: var(--totalItems);
  }

}

:global {

  .ant-select-selector {
    background-color: var(--Container) !important;
    border: none !important;
    color: var(--limeBlack) !important;
    box-shadow: unset !important;
  }
  .ant-select-selection-item {
    font-family: $font !important;
    color: var(--limeBlack) !important;
  }
  .ant-select-dropdown {
    width: 110px !important;
    font-family: $font !important;
    background-color: var(--wrapper);
  }
  .ant-select-item{
    color: var(--text)!important;
  }
  .rc-virtual-list-holder-inner {
    background-color: var(--wrapper) !important;

  }
  .ant-select-item-option-selected {
    background-color: var(--Container) !important;
    color: var(--SelectColor) !important;

  }
  .ant-drawer-content-wrapper {
    width: 249px !important;
  }
  .ant-drawer-body {
    padding: unset !important;
    background-color: var(--wrapper);
    border-right: 1px solid var(--underline);
  }
  .ant-drawer-header {
    background-color: var(--wrapper);
  }
  .ant-drawer-title {
    display: flex;
    justify-content: center;
    font: 500 22px $font !important;
    color: var(--text);
  }
  .ant-float-btn-body {
    background-color: var(--Container) !important;
  }
  .ant-float-btn-icon {
    path{
      fill: var(--SelectColor);
    }
  }

}