@import "/src/styles/utils/variables";

.db {
  &__body {
    font-family: $font;
    color: var(--white);
    padding: 55px 30px 30px 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__headContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__headTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__headBottom {
    display: flex;
    justify-content: space-between;
  }

  &__filters {
    display: flex;
    gap: 14px;
  }

  &__sort {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 87px;
    height: 37px;
    background-color: var(--Container);
    cursor: pointer;
  }
  &__gridSort {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 37px;
    border-radius: 10px 0  0 10px;
    background-color: unset;
  }
  &__gridSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 37px;
    border-radius: 10px 0  0 10px;
    background-color: var(--sortSwitch);
  }
  &__listSelected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 37px;
    border-radius: 0 10px  10px 0;
    background-color: var(--sortSwitch);
  }
  &__gridIcon {
    path{
      fill: var(--text);
    }
  }
  &__gridIselected {
    path{
      fill: var(--SelectColor);
    }
  }
  &__listIcon {
    path{
      fill: var(--text);
    }
  }
  &__listIselected {
    path{
      fill: var(--SelectColor);
    }
  }
  &__listSort {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
  }

  &__title {
    font: 500 24px/1.1 $font;
    font-size: 24px;
    line-height: 35.57px;
    color: var(--text);

  }

  &__titleContainer {
    display: flex;
    justify-content: space-between;

  }

  &__nftContainer {
    display: flex;
    //width: 1142px;
    width:1142px ;
    height: 726px;
    border-radius: 10px;
    background-color: var(--Container);
  }

  &__nfts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    padding: 16px;
  }
  &__input {
    padding-left: 17px;
    border: none !important;
    background-color: var(--Container);
  }
  &__arrow {
    path {
      stroke: var(--limeBlack);
    }
  }
}

:global {

  .ant-select-selector {
    background-color: var(--Container) !important;
    border: none !important;
    color: var(--limeBlack) !important;
    box-shadow: unset !important;
  }
  .ant-select-selection-item {
    font-family: $font !important;
    color: var(--limeBlack) !important;
  }
  .ant-select-dropdown {
    width: 110px !important;
    font-family: $font !important;
    background-color: var(--wrapper);
  }
  .ant-select-item{
    color: var(--text)!important;
  }
  .rc-virtual-list-holder-inner {
    background-color: var(--wrapper) !important;

  }
  .ant-select-item-option-selected {
    background-color: var(--Container) !important;
    color: var(--SelectColor) !important;

  }

}