@import "/src/styles/utils/variables";

.main {
  background-color: $bg;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: $black;
    border-bottom: solid $underline 1px;
  }
  &__leftPart{
    display: flex;
    align-items: center;
  }
  &__rightPart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 30px 0 30px;
  }
  &__searchbar {
    width: 322px;
    height: 42px;
    border-radius: 10px;
    font-family: $font;
  }
  &__iconsContainer {
  }
  &__iconsItems {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  &__iconsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: $Container;
  }
  &__profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  &__profilePhoto{
    display: flex;
    width: 30px;
    height: 30px;
  }
  &__profileName {
    font-family: $font;
    color: $white;
    width: auto;
  }

  &__content {
    //padding: 0 0 48px 0;
    height: 100vh;
    font-family: $font;
  }
  &__layout {
    //padding: 24px 0;
    height: 100%;
    background-color: $bg;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: $font;
    background-color: $black;
  }
  &__shopContent {
    font-family: $font;
    color: $white;
  }
}

:global {
  .ant-layout-header {
    padding: 0 30px 0 30px;
  }
  .ant-menu {
    background-color: $black;
    color: $white;
    font-family: $font;
    font-size: 16px;
  }
  .ant-menu-horizontal {
    padding: 0 0 0 11vh !important;
    gap: 10px;
  }
  .ant-menu-inline {
    padding-top: 5vh;
    border-right: solid $underline 1px !important;
  }
  .ant-menu-title-content {
    color: $white;
  }
  .ant-menu-submenu-title {
    border-bottom: solid $underline 1px;
    border-radius: 0 !important;
  }
  .ant-menu-submenu-arrow {
    color: $white !important;
  }
  .ant-menu-item-selected {
    background-color: unset !important;
    text-decoration: underline;
    text-underline-offset: 26px;
    text-decoration-thickness: 3px;
    text-decoration-color: $lime;
    .ant-menu-title-content {
      color: $lime !important;
    }
  }
}
